@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
  font-family: "Inter", sans-serif;
}

.color-1 {
  color: #ff444a;
}

.color-2 {
  color: #0b0b0b;
}

.bg-color-1 {
  background-color: #ff444a;
}
